/.quarto/

portfolio/ra/a2/output_OWA.txt

portfolio/ra/a2/output_QAM_AM.txt

portfolio/ra/a2/output_QAM_PM05.txt

portfolio/ra/a2/output_QAM_QM.txt

portfolio/ra/a2/stats_OWA.txt

portfolio/ra/a2/stats_QAM_AM.txt

portfolio/ra/a2/stats_QAM_PM05.txt

portfolio/ra/a2/stats_QAM_QM.txt

portfolio/ra/a2/stephens-transformed.txt
